.resposiveTable{
    overflow-x: auto;
    border-radius: 0.8rem;
}

.resposiveTable table{
    width: 100%;
    min-width: 64rem;
    font-size: 1.6rem;
    border-collapse: collapse;
}

.resposiveTable th{
    background-color: var(--gray-600);
}

.resposiveTable td{
    background-color: var(--gray-800);
}

.resposiveTable th, 
.resposiveTable td {
    border-bottom: 0.2rem solid var(--gray-700);
    text-align: left;
    padding: 1.6rem;
}

.buttonContainer button{
    min-width: auto;
    margin: 0;
    padding: 1rem;
}


.buttonContainer button svg {
    width: 2rem;
    height: 2rem;
}

.thSort {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.thSort:hover{
    filter: brightness(80%);
} 